div {
    border: 1px solid;
    padding: 1rem;
    background-color: rgb(148, 191, 248);
}

ul {
    display: inline-flex;
    list-style: none;
}

ul#navbar li   {
    margin-right: 0.5rem;
    padding: 5px;
}

ul#navbar li:hover {
    background-color:whitesmoke;
    padding: 5px;
}

